<% provide(:title, "About") %>
<div class="weather">
<iframe>  
<a href="http://www.accuweather.com/en/mx/los-barriles/236828/weather-forecast/236828" class="aw-widget-legal">
</a><div id="awcc1472922005916" class="aw-widget-current"  data-locationkey="236828" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1472922005916"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>  
</iframe>  
  
  
  
</div>