<% provide(:title, "About") %>
<div class="smallbox"></div>
<div class="smallbox"></div>
<div class="smallbox"></div>
<div class="body-post">
      <%# link_to forum.post, forum_path(forum) %>
      lol
</div>