<div class="col-xs-2 ads-homepage col-xs-push-10">
    add-right<br>
    
    <div class="weather-widget col-xs-12">
      
      <a href="http://www.accuweather.com/en/mx/los-barriles/236828/weather-forecast/236828" class="aw-widget-legal">
        <!--
        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
        -->
      </a><div id="awcc1474047135268" class="aw-widget-current"  data-locationkey="236828" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1474047135268"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
      
    </div>
    
</div>

<div class="col-xs-10 static-pic col-xs-pull-2">
    <div class="col-md-6 video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R8YwmHoyzvQ"></iframe>
        </div>
    </div>
    <div class="col-md-6 img_home">
        <%= image_tag(('LB.Flag1.jpg'), class: "img-rounded home_img") %>
        <p class="static_text">
        <b>
            East Cape-World class Fishing and World class Wind!<br> 
            This adventure playground is nestled against the pristine views of the Sea of Cortez.<br> 
            You know that beer commercial of people sitting under a palapa on a deserted beach?<br> 
            Come find your muse while burying your toes in warm sand and surf!<br>
            That's East Cape!
        </b>
        </p>
    </div>
</div>

<div class="col-xs-5 forum-homepage col-xs-pull-2">
    <h4><b>Newest Posts</b></h4>
    <%= render 'forums/forum_homepage' %>
</div>

<div class="col-xs-5 news-homepage col-xs-pull-2">
    <h4><b>News!</b></h4>
    <%= render 'static_pages/news_homepage' %>
</div> 

<div class="col-xs-12 bottom">
    lkjal;sdkfj
</div>
    




