    <div class="col-md-2 ads-homepage col-md-push-10">
        add-right
    </div>
    
    <div class="col-md-10 static-pic col-md-pull-2">
        asdfasd
    </div>

    <div class="forum-homepage col-md-5 col-md-pull-2">
        <%# render 'forums/forum_homepage' %>
    </div>
    <div class="col-md-5 news-homepage col-md-pull-2">
    
    </div> 
    <div class="col-md-12 bottom">
        lkjal;sdkfj
    </div>
    




