<% provide(:title, "Forum Posts") %>

<% if flash[:success] %>
    <div class="alert-success"><%= flash[:success] %></div>
<% end %>

<h1 id="listing">East Cape Billboard</h1>
<div class ="table-responsive">
<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th><%= link_to "New Post", new_forum_path %></th>
  </tr>
 
  <% @forums.each do |forum| %>
    <tr>
      <td><%= link_to forum.title, forum_path(forum) %></td>
      <td><%= link_to forum.post, forum_path(forum) %></td>
    </tr>
  <% end %>
</table>
</div>