<%= form_for([@forum, @forum.comments.build]) do |f| %>
  <p>
    <%= f.text_area :reply, class: "form-control replyarea center-block", rows: 5, id: "comment" %>
  </p>
  <p>
    <%= f.submit "Comment", class: "btn btn-info btn-lg center-block" %>
  </p>
<% end %>
<div class="center-block commentfixform">
</div>
