  <p>
    <strong>Comment:</strong>
    <%= comment.reply %>
  </p>
  posted by:
<% if comment.user_id.nil? %>
Anonymous
<% else %>
<%= User.find(comment.user_id).username %>
<% end %>
<br>
<div>
  <% if ((current_user != nil) && (current_user == comment.user))  || (current_user && current_user.admin?) %>
      <%= link_to 'Edit', edit_forum_comment_path(comment.forum, comment) %>
      <%= link_to 'Delete', [comment.forum, comment], method: :delete %>
  <% end %>
</div>