<div class="comment-pretty">

<div class="col-md-11 comment-reply"><%= comment.reply %></div>

<div class="col-md-12 postby">
      <% if comment.user_id.nil? %>
        Visitor
      <% else %>
        <%= User.find(comment.user_id).username %>
      <% end %>
      <% if ((current_user != nil) && (current_user == comment.user))  || (current_user && current_user.admin?) %>
        <br>
        <%= link_to 'Edit', edit_forum_comment_path(comment.forum, comment) %>
        <%= link_to 'Delete', [comment.forum, comment], method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
</div>

</div>