<%= form_for([@forum, @forum.comments.build]) do |f| %>
  <p>
    <%= f.text_area :reply, class: "form-control input-lg", rows: 4, id: "comment" %>
  </p>
  <p>
    <%= f.submit "Comment", class: "btn btn-info btn-lg" %>
  </p>
<% end %>
