<center>
<div class="col-xs-2"></div>
<div class="col-xs-8" id="fourlove-div1">
  <h1 class="fourloveofbaja" id="fourloveofbaja-h1">4 Love of Baja</h1>

<!-- Motto + Mission Statement -->
<h3 class="fourloveofbaja">“Every Penny…Every Peso”</h3><br>
<p class="fourloveofbaja">4 Love of Baja is just 2 retired couples wanting to help kids in Baja California Sur.<br>
    We make and sell handcrafted items and then spend over 100% of the proceeds to the betterment of kids’ lives.
</p>
</div>
</center>
<!-- Her wording here -->
<div class="col-xs-8 col-xs-push-2" id="fourlove-div2">
<center><p>*Statement about Deborah*</p></center>
<br>
<div class="col-xs-3"></div>
<div class="col-xs-3">
<%= image_tag("Charities.jpg") %>
</div>
<br>
<br>
<div class="col-xs-6">
<h2 style="color:red;">Contact 4 Love of Baja</h2>
<p>Deb Keyson</p>
<p>4loveofbaja@gmail.com</p>
</div>
</div>
<center>
  <div class="col-xs-12">
<%= link_to root_path do %>
  <button class="btn btn-sm btn-primary">Pirate's East Cape Cove</button>
<% end %>
  </div>
</center>
