@import "bootstrap-sprockets";
@import "bootstrap";

/* Main site structure */

/* Header */
.header {
    height: 120px;
    width: auto;
    border-style: ridge;
}

#navlist {
    float: right;
    margin-top: 70px;
}

/* Forums */

table {
    margin-left: 50px;
}

#listing {
    margin-left: 25px;
}

td {
    border-style: ridge;
}

/* Flash */

