@import "bootstrap-sprockets";
@import "bootstrap";



/* Main site structure */
html, body, .container-fluid {
    height: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container-fluid {
    padding: 0px;
}

.above-all {
    z-index: 10;
}


/* Header/Footer */

.dollar {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 130%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ff944d;
    text-shadow: .05em .05em .05em #803300;
}

.tagline {
    font-family: "Comic Sans Ms", cursive, sans-serif;
    color: #ff8080;
    text-shadow: .04em .04em #990000;
    font-size: 120%;
}

.headert {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 350%;
    color: #ffb380;
    text-shadow: .04em .04em #cc5200;
}

.weather-widget a {
    color: #fff0b3;
    text-shadow: .06em .06em #997a00;
}

.weather-widget {
    z-index: 5;
    font-size: 150%;
}


.header {
    height: 15%;
    z-index: 1;
}

.header_image {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.headernav {
    position: absolute;
    float: right;
    bottom: 0%;
    right: 0%;
}

.user-tab {
    position: absolute;
    float: left;
    bottom: 0%;
    left: 0%;
    z-index: 3;
    color: #ff6600;
    text-shadow: .06em .06em #660000;
}

.nav > li > a {
    font-size: 125%;
      color: #ff6600; 
      text-shadow: .06em .06em #660000;
      z-index: 2;
}

.nav > li > a:hover {
    background-color: #ffeecc;
    color: red;
    z-index: 2;
    border-radius: 3em;
}

.div-tp {
    position: absolute;
    background-color: #e6e6e6;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
    border-radius: 3em;
    bottom: 0%;
    right: 0%;
}

/* Forums */

/* Index */

.forum-index {
    height: 27%;
    overflow: hidden;
    margin-bottom: 1%;
}

.posts-title {
    font-size: 166%;
    color: #0000cc;
}

.posts-title:hover {
    color: #b3b3ff;
}

.date-index {
    font-size: 60%;
}

.body-post {
    word-wrap: break-word;
    max-height: 60%;
    font-size: 150%;
    overflow: hidden;
    color: #e65c00;
}

.body-post:hover {
    color: #ffd1b3;
}

#new-post {
    border-style: ridge;
}

/* Individual Forum & comments */

.comment-area {
    padding-left: 5%;
}

.forum-postby {
    font-size: 150%;
    margin-top: 1%;
}

.forum-show-title {
    font-size: 170%; 
    margin-top: 3%;
}

.forum-title-post {
    margin-bottom: 1%;
}

.comment-form-area {
    margin-left: 5%;
}

.comment-reply {
    font-size: 140%;
    margin-top: 3%;
}

.postby {
    font-size: 85%;
}

.showpost {
    border-style: ridge;
    word-wrap: break-word;
}


/* Homepage */


.forum-homepage {
    height: 40%;
    // border-bottom: ridge;
    // border-right: ridge;
}

.news-homepage {
    height: 40%;
    // border-bottom: ridge;
}

.static-pic {
    height: 45%;
    // border-bottom: ridge;
    overflow: hidden;
}    

.static_text {
    position: absolute;
    left: 4%;
    top: 0%;
    color: #d9b3ff;
    font-size: 1.3em;
    text-shadow: .03em .03em #5900b3;
    padding-right: 3%;
}

.img_home {
    top: 4%;
    height: 96%;
}

.home_img {
    height: 92%;
    width: 99%;
}
.ads-homepage {
    height: 85%;
}

.bottom {
    height: 22.5%;
}

.forum_posts {
    margin-top: 1%;
    border-bottom: ridge;
    border-color: pink;
    height: 26%;
    color: #ff704d;
    font-size: 140%;
    text-shadow: .06em .06em #991f00;
    overflow: hidden;
}

.forum_posts:hover {
    background-color: #b3e6ff;
    border-radius: 1em;
}

.forum-title {
    text-align: center;
    font-size: 125%;
}

.news_homepage {
    margin-top: 1%;
    padding-top: 3%;
    border-bottom: ridge;
    border-color: #80ffff;
    height: 26%;
    color: #4b70ff;
    font-size: 125%;
    text-shadow: .06em .06em #001f99;
    overflow: hidden;
}

.news_homepage:hover {
    background-color: #ccffcc;
    border-radius: 1em;
}

.video {
    position: relative;
    right: 1.5%;
    top: 4%;
}

/* Fishing */

.static-fishing {
    height: 50%;
    border-style: ridge;
    font-size: 150%;
}

.static-fishing-ad {
}

.fishing-directory {
    
}

/* News */

.static-news {
    font-size: 150%;
}

/* Login form */

.white-space {
    height: 100%;
}

.login {
    height: 30%;
    font-size: 180%;
    background-color: #ffc299;
    border-radius: 1em;
}

.little-space {
    margin-top: 2%;
}

.little-space-top {
    margin-top: 15%;
}

/* Create User */

.usernew {
    border-radius: 1.6em;
    background-color: #b3e0ff;
    font-size: 160%;
    margin-top: 1%;
    color: #666666;
}

.join-button {
    margin-left: 35%;
}

/* Create Forum Post */

.createbox {
    height: 90%;
}

.cptitle {
    font-size: 150%;
}

.cppost {
    font-size: 140%;
}

